{% extends "blog/base.html" %}

{% block title %}All Posts - Django Blog{% endblock %}

{% block content %}
<h1>All Blog Posts</h1>

{% if user.is_authenticated %}
    <div class="create-post">
        <a href="{% url 'post-create' %}" class="btn">Create New Post</a>
    </div>
{% endif %}

{% for post in posts %}
    <article class="post">
        <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <div class="post-meta">
            By {{ post.author }} on {{ post.published_date|date:"F d, Y" }}
        </div>
        <p>{{ post.content|truncatewords:50 }}</p>
        <a href="{% url 'post-detail' post.id %}" class="btn">Read More</a>
    </article>
{% empty %}
    <p>No posts yet. <a href="{% url 'post-create' %}">Create the first post!</a></p>
{% endfor %}
{% endblock %}